h1, h2, h3, h4, p, ol, article ul, blockquote {
  width: 700px;
  margin: 0 auto;
}

article {
  overflow-y: scroll;

  height: 100vh;

  scroll-behavior: smooth;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: lighter;
  line-height: 1.4;
  /*  межстрочный   */

	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  display: block;

  width: 700px;
  margin: 80px auto;
}

nav {
  position: fixed;
  top: 50px;
  left: 50px;

  width: 250px;

  transition: opacity 200ms linear;

  opacity: 0.1;

  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  font-weight: lighter;
}

nav:hover {
  opacity: 1;

}

nav ul > li {
  color: rgba(0, 0, 0, 0.8);
}

nav ul > li:hover {
  color: rgba(0, 0, 0, 1);
}

nav ul li {
  margin-bottom: 15px;
}

nav > ul > li:first-of-type {
  font-weight: 600;
}

nav ul li ul li {
  margin-top: 15px;
  margin-left: 20px;

  color: rgba(0, 0, 0, 0.5);
}

nav a {
  text-decoration: none;
}

nav ul li ul li:hover {
  color: rgba(0, 0, 0, 0.7);
}
/*
margin: top right bottom left
*/
h1, h2, h3, h4 {
  font-family: "PT Sans Caption" ,sans-serif;
  font-weight: bold;
}

article ul {
	list-style-type: square;
}

h1 {
  margin-top: 40px;
  margin-bottom: 20px;

  font-size: 35px;
}
h2 {
  margin-top: 30px;
  margin-bottom: 10px;

  font-size: 30px;
}
h3 {
  margin-top: 20px;
  margin-bottom: 10px;

  font-size: 25px;
}

h4 {
	margin-top: 10px;
  margin-bottom: 5px;

	font-size: 20px;
}

h2 + h3 {
	margin-top: -5px;
}

h3 + h4 {
	margin-top: -5px;
}

p + div {
	margin-top: -10px;
}

h1 + p {
	color: #a1a1a1;
}

blockquote {
	margin-top: 20px;
	margin-left: 20px;

  font-family: "PT Sans", sans-serif;
  font-weight: lighter;
  font-style: italic;
}
p {
  margin-top: 10px;
  margin-bottom: 20px;
}

a, a:visited {
  color: inherit;
}

div {
	width: 750px;
	margin: 0 auto;

	border-left-width: medium;
	border-left-style: solid;
	border-left-color: #4a4a4a;
  /*background-color: #e8e8e8;*/
}
