@import "reset.css";

h1, h2, h3, h4, p, ol, ul, blockquote {
  width: 700px;
  margin: 0 auto;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: lighter;
  line-height: 1.4;
  /*  межстрочный   */
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  display: block;
  width: 1020px;
  margin: 80px auto;
}

/*
margin: top right bottom left
*/
h1, h2, h3, h4 {
  font-family: "PT Sans Caption" ,sans-serif;
  font-weight: bold;
  }

ul {
	list-style-type: circle;
}

h1 {
  font-size: 35px;
  margin-top: 40px;
  margin-bottom: 20px;
}
h2 {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
}
h3 {
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 10px;
}

h4 {
	font-size: 20px;
	margin-top: 10px;
  margin-bottom: 5px;
}

h2 + h3 {
	margin-top: -5px;
}

h3 + h4 {
	margin-top: -5px;
}

p + div {
	margin-top: -10px;
}

h1 + p {
	color: #a1a1a1;
}

blockquote {
  font-family: "PT Sans", sans-serif;
  font-weight: lighter;
  font-style: italic;
	margin-top: 20px;
	margin-left: 20px;
}
p {
  margin-bottom: 20px;
  margin-top: 10px;
}

a, a:visited {
  color: inherit;
}

div {
	border-left-color: #4a4a4a;
	border-left-style: solid;
	border-left-width: medium;
	width: 750px;
	margin: 0 auto;
  /*background-color: #e8e8e8;*/
}



/*
.beFont {
  font-size: 100px;
}
#warning {
  color: #E1E1E1;
  font-size: 25px;
}
#yu01 {
  color: #C1C1C1;
  font-size: 20px;
}
*/
